body {
    background-color: black;
    color: white;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    height: 350px;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 550px;
}

h1 {

    letter-spacing: 0.1px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 70px;
}

h3 {
    font-size: 40px;
}

footer p {
    color: rgb(0, 0, 0);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    height: 100px;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 200px;
}