body {
    background-color: black;
    color: white;
background-image: url(assets/pantera\ negra\ 9.jpg);
background-repeat: no-repeat;
background-size: cover;
}

img {
    height: 350px;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 550px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 70px;
}
h3{
    font-size: 40px;
}
footer p {
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}